@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
*{
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 150px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.header_logo{
    height: 150px;
    flex-basis: 40%;
    text-align: center;
}
.header_logo img{
    height: 120px;
    width: 300px;
}
.header_nav{
    height: 150px;
    flex-basis: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_nav a{
    text-decoration: none;
    color: #333333;
}
.header_nav a:hover{
   color: #3db3bd ; 
}
.header_pagnier{
    height: 150px;
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_langue{
    height: 150px;
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_money{
    height: 150px;
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 80px;
    width: 100%;
    background-color: #3db3bd;
    color: white;
    display: flex;
    justify-content: space-around;
}
.menu{
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    color: white;
    transition-property: height;
    transition-duration: 20ms;
    transition-timing-function: ease-in;
    text-decoration: none;
}
.menu a:hover{
    display: block;
    height: 25px;
    color: #333333;
}

.recherche{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    background-image:url(image3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}
.hero_bloc{
    background-color: rgba(0, 0, 0, 0.5);
    height: 25vh;
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.1em;
}
.hero_h2 h3{
    color: #3db3bd;
}
.offre{
    display: flex;
    justify-content: center;
}
.hero_bloc_buttom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.offre_text{
    background-color: white;
    color: #333333;
    width: 370px;
    height: 80px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 320px;
}
.offre_image{
    margin: 0 10px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 40%;
    margin: 0 auto;
}
.nav2 a{
    text-decoration: none;
    color: #333333;
    font-size: 25px;
}
.nav2 a:hover{
    
    color: #3db3bd;
}
.une{
    display: flex;
    justify-content: center;
    color: #333333;
    font-size: 18px;
}
.une_photo_text{
    height: 500px;
    width: 16%;
    margin: 0 10px;
    border: 1px solid rgb(223, 221, 221);
}
.une_photo img{
    background-color: #e3e3e3;
    height: 250px;
    width: 100%;
}
.une_price{
    color: #3db3bd;
    font-weight: bold;
    margin: 20px 30px;
}
.une_price .barrer{
    color: #aaa4a4;
    text-decoration: line-through;
}
.une_text{
    margin: 20px 30px;
}
.une_detail{
    margin: 40px 30px;
    border: 1px solid rgb(223, 221, 221);
    height: 60px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.une_detail_wagen{
    height: 60px;
    background-color: #3db3bd;
    flex-basis: 35%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.une_detail_text{
    height: 60px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: rgba(231, 231, 231, 0.692);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67%;
    height: 45vh;
    margin: 45px auto;
}

.footer1, .footer2,.footer3,.footer4{
    display: flex;
    flex-direction: column;
    height: 250px;
}
.footer1 a, .footer2 a{
    font-size: 22px;
    color: #333333;
}
.footer1 a:hover, .footer2 a:hover{
    color:#3db3bd;
}
